table { font-size:10pt; text-align:center; vertical-align:middle; }

.box { margin:15px; width:220px; height:220px; border-color: lightgray; border-style: solid; border-width: 1px; position:relative; }
.box img { max-width:100%; width:100%; height:100%; border:1px; display:block; position:absolute;  transition: opacity 1s; }
.box:hover img:last-child { opacity:0 }

.viewbox { height:430px; width:430px; border-color: lightgray; border-style: solid; border-width: 1px; position:relative; }
.viewbox img { max-width:100%; width:100%; height:100%; border:1px; display:block; position:absolute;  transition: opacity 1s; }
.viewbox:hover img:last-child { opacity:0 }

.showimg img{ height:430px; width:430px; border-color: lightgray; border-style: solid; border-width: 1px;} /*pic25이미지 css*/
.miniimg img{ height:100px; width:100px; border-color: lightgray; border-style: solid; border-width: 1px;} /*changepic25이미지 css*/
.mymargin5 { margin:5px 0px 5px 0px; }

.mycolor1 { background-color:steelblue; color:white; }
.mycolor2 { background-color:lightsteelblue; }
.mycolor3 { background-color:rgb(136, 209, 26); color:white}
.mycolor4 { background-color:rgb(255, 144, 1); color:white}

.productcolor1 { background-color:rgb(102, 153, 000); color:white;}
.productcolor2 { background-color:rgb(153, 204, 051, 100); }

.mythumb_box { 
	font-size:14px; 
	text-align:center; 
	border:1px solid lightgray; 
	padding:3px; margin:5px 0px 5px 0px; 
}
.mythumb_image {
	height:150px;
	max-width:100%;
	margin-bottom:3px;
}
.mythumb_text {
	border: 1px solid lightgray;
	background-color:lightsteelblue;
	padding:3px;
}
.mythum_bigimage {
	height:550px;
	max-width:100%;
	margin-bottom:3px;
}
.img-view {
	width:200px; 
	height:200px;
	border-color: lightgray; 
	border-style: solid; 
	border-width: 1px;
}